* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  width: 320px;
  height: 160px;
  padding: 50px;
  border: 1px;
  margin: 1px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: flex;
  width: 336px;
  height: inherit;
  justify-content: center;
}

/* Closable button inside the expanded image */
.topofthepage {
  border: 5px solid black;
  background-color: DarkSlateGray;
  display: flex;
}



.checked {
  color: orange;
}

/* .centerpage{
  width: 320px;
  padding: 10px;
  text-align: center;
  height: 100%;
} */
.ratings {
  color: rgb(100, 149, 237);
  border-bottom: 2px solid gray;
  display: block;
  padding: 10px;
}

.price {
  border-bottom: 2px solid gray;
  display: block;
  /* border-style: ridge; */
}

/* .leftpage{
  width: 320px;
  padding: 10px;
  text-align: auto;
  display: block;

} */
.col-container {
  display: flex;
  border: 2px solid black;
  justify-content: center;
}

.col1 {
  display: flex;
  padding: 16px;
}

.col2 {
  display: flex;
  padding: 16px;
}

.col3 {
  display: flex;
  padding: 16px;
height: 100%;

}
.col4 {
  width: 300px;
  text-align: right;
  padding: 10px;


}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}

.column2 {
  width: 300px;
  height: 50px;
  padding: 50px;
}

/* Style the images inside the grid */
.column2 img {
  opacity: 0.8;
  cursor: pointer;
  display: table-column-group;
}

.column2 img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table-row;
  clear: both;
}

.addtolist{

  border-bottom: 1px solid gray;


}
.rightpage{
  border: 1px solid gray;
  padding: 10px;
}
.button{
  padding: 15px 32px;
  border: none;
  cursor: pointer;
 display: inline-block;
 border-radius: 20%;

}
