body {
  font-family: Arial;
  text-decoration: none!important;
}

a:hover {
  text-decoration: none;
}

.column {
  width: 32px;
  height: 16px;
  padding: 20px;
  border: 10px;
  margin: 10px;
  object-fit: cover;
}

/* Style the images inside the grid */
.column img {
  cursor: pointer;
}
.img-box{
  border:1px solid gray;
  padding: 1px;
}
.img-box:hover{
  border:1px solid orange;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
  object-fit: cover;
}

/* The expanding image container */
.container {
  position: relative;
  bottom: -300px;
  display: flex;
  width: 336px;
  height: inherit;
  justify-content: bottom;
  object-fit: cover;

}
.container:hover{
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}
/* Closable button inside the expanded image */
.topofthepage {
  align-items: flex-end;
  background-color: DarkSlateGray;
  display: flex;
}

.logo {
  display: flex;
}

.search {
  display: flex;
  width: 100%;
  height: 100%;
}

.checked {
  color: orange;
}

/* .centerpage{
  width: 320px;
  padding: 10px;
  text-align: center;
  height: 100%;
} */
.ratings {
  color: rgb(100, 149, 237);
  border-bottom: 2px solid gray;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.price {
  border-bottom: 2px solid gray;
}

/* .leftpage{
  width: 300px;
  padding: 10px;
  text-align: auto;
  display: block;

} */
.col-container {
  display: flex;
    /* justify-content: center; */
}

.col1 {
  display: flex;
  
  padding: 16px;
}

.col2 {
  display: flex;
  padding: 16px;
}

.col3 {
  display: flex;
  padding: 16px;
  height: 100%;
  justify-content: space-between;
  /* justify-content:flex-end; */
}

.col4 {
  width: 300px;
  height: 300px;
  text-align: bottom;
}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}

.column2 {
  width: 300px;
  height: 50px;
  padding: 50px;
}

/* Style the images inside the grid */
.column2 img {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.column2 img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
/* .row2:after {
  content: "";
  display: table-row;
  clear: both;
} */
/* .addtolist {
  border-bottom: 1px solid gray;
  padding: 10px;
} */
.rightpage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
}

.box1 {
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box2 {
  border: 1px solid gray;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  display: flex;
}

.button {
  padding: 15px 32px;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 20%;
}
.button:hover{
cursor:not-allowed;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: SlateGrey;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

/* @media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  } */


@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.bottompage {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: 70px;
  border-bottom: 1px solid gray;
}

.BP-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 70px;
  border-top: 1px solid gray;
}

.pricet {
  font-size: 30px;
}
.BP-head2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 50px;
}
.BP-head3{
  border-top: 1px solid rgb(18, 17, 17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 50px;
}
.BP-head4{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10px;
  margin: 50px;
}
